a {
    text-decoration:underline;
    color:darkred !important;
}

.fillL {
    background:#f4f4ff;
}

#map {
    height:400px;
}

#findme-map {
    height:300px;
}

.loading {
    background: url('../img/loading.gif') left top;
}

.note-debug {
    border-bottom:1px solid #eee;
    font-family: monospace;
}

a.load {
    text-decoration:none;
}

a.l {
    padding:2px;
    text-decoration:underline;
    font-size:13px;
    margin:0 4px;
}

.active {
    font-weight:bold;
}

button {
    font:inherit;
}

.done {
    background:#9ed485;
    border:0;
    font-weight:bold;
}

.on-1 .step-1,
.on-2 .step-2,
.on-3 .step-3 {
    background:#eee;
}

.steps {
    border:1px solid #ccc;
}

.steps div {
    -webkit-transition:all 500ms ease-in;
    transition:all 500ms ease-in;
}

.steps.on-3 div {
    background:#9ed485;
}

.steps div a {
    font-weight:bold;
    text-decoration:none;
    color:#000 !important;
}

.mr {
    margin-right:10px;
}

footer {
    margin-top: 10em;
    font-size: 80%;
}

@media only screen and (max-width:640px) {
    .logo {
        display: block;
        float: none;
        margin: auto;
    }
    .app-title {
        text-align: center;
    }
}

[role="radiogroup"] {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  [role="radiogroup"]:focus {
    outline: none;
  }
  
  [role="radio"] {
    padding: 4px 8px;
    border: 0 solid transparent;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    cursor: default;
    outline: none;
    color: black;
  }
  
  [role="radio"] + [role="radio"] {
    margin-left: 1em;
  }
  
  [role="radio"]::before {
    position: relative;
    top: 1px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='14' width='14' style='forced-color-adjust: auto;'%3E%3Ccircle cx='7' cy='7' r='6' stroke='rgb(0, 90, 156)' stroke-width='2' fill-opacity='0' /%3E%3C/svg%3E");
  }
  
  [role="radio"][aria-checked="true"]::before {
    position: relative;
    top: 1px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='14' width='14' style='forced-color-adjust: auto;'%3E%3Ccircle cx='7' cy='7' r='6' stroke='rgb(0, 90, 156)' stroke-width='2' fill-opacity='0' /%3E%3Ccircle cx='7' cy='7' r='3' fill='rgb(0, 90, 156)' stroke-opacity='0' /%3E%3C/svg%3E");
  }
  
  [role="radio"].focus,
  [role="radio"]:hover {
    padding: 2px 6px;
    border: 2px solid #005a9c;
    background-color: #def;
    cursor: pointer;
  }
  